#div1{
float: left;
width: 150px;
text-align: center;
font-size: 20px;
border: 3px;
border-style: solid;
border-color: rgb(163, 113, 47);
}
#div3{
    float: left;
    width: 100px;
    text-align: center;
    font-size: 20px;
    border: 3px;
    border-style: solid;
    border-color: rgb(233, 13, 13);
}
#div2{
float: left;
width: 300;
text-align: center;
font-size: 20px;

}
#literyinput1{
    float: left;
    width: 570px;
    text-align: center;

}
h1{
    text-align: center;
}